services:
  app:
    build: .
    volumes:
      - .:/app
    ports:
      - "8081:8081"
    environment:
      - EXPO_DEVTOOLS_LISTEN_ADDRESS=0.0.0.0
      - REACT_NATIVE_PACKAGER_HOSTNAME=127.0.0.1
    stdin_open: true
    tty: true
    working_dir: /app/Growly
    init: true
    command: npx expo start --tunnel
